#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/*reset.css*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button, select, textarea {
  border: none;
  outline: none;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
}

body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, blockquote, pre {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  font-size: 100%;
}

button {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
